@use "./fonts";

/* Оголошення шрифтів у :root */

:root {
  --header-height: 8vh;
  --menu-height: 4vh;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background-color: #000000cc;
}

:root {
  --clr-1: #c4b299;
  --clr-2: #f3e9d2;
  --clr-3: #000000;
  --clr-4: #3b2f1b;
  --clr-5: #a67c17;
  --clr-6: #d9c7a1;
  --clr-g: #777777;
  --clr-w: #ffffff;
  --clr-b: #1c1919;
  --transition: all 0.8s linear;
}

ul {
  padding-left: 0rem;
}

.btn {
  color: var(--clr-w);
  background: var(--clr-1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: none;
  margin-top: 25px;
  transition: 0.35s;

  &:not(.order-btn) i {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid var(--clr-w);
    margin-left: 15px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 6px;
      height: 6px;
      margin-left: -1px;
      border-right: 2px solid var(--clr-w);
      border-bottom: 2px solid var(--clr-w);
    }
  }

  &:hover {
    background: var(--clr-2);
    color: var(--clr-w);
  }
}

.accordion-item {
  .mat-expansion-indicator {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid var(--clr-b);
    border-radius: 100%;
    transition: var(--transition);

    &::after {
      position: absolute;
      padding: 0px !important;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      margin-top: -1px;
      border-right: 2px solid var(--clr-b);
      border-bottom: 2px solid var(--clr-b);
      transform: translate(-50%, -50%) rotate(45deg) !important;
      transition: var(--transition);
    }
  }

  &:hover {
    .mat-expansion-indicator {
      border: 2px solid var(--clr-2);

      &::after {
        border-right: 2px solid var(--clr-2);
        border-bottom: 2px solid var(--clr-2);
      }
    }
  }
}

.swiper-slide {
  .slick-dots {
    position: relative;
    width: 3%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    margin: 0 auto;

    .slick-active {
      background: var(--clr-1);

      &:hover {
        border: 1px solid var(--clr-1);
      }
    }

    li {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #d1d9ce;

      button::before {
        content: none;
      }

      &:hover {
        background: var(--clr-2);
      }
    }
  }
}

.ingModsl {
  width: 90vw;
  height: 90vh;
  border-radius: 16px;
  box-shadow: 0px 0px 20px -1px #595959;
}

.creat_ingredient_modal,
.add_dishes,
.сategoriesDishes_modal_dialog,
.cuisine_modal_dialog,
.methodCooking_modal_dialog,
.productCatgories_modal_dialog,
.pproducts_modal_dialog,
.add_tools,
.add_units {
  width: 50vw;
  height: 90vh;
  border-radius: 16px;
  box-shadow: 0px 0px 20px -1px #595959;
}

.btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  cursor: pointer;
}


