@media (max-width: 980px) {
  section {
    .menu_block {
      margin-top: 10px;

      .recipe_menu {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        gap: 0;
        padding: 0;

        .item_menu {
          width: 49%;
          height: 4vh;
          justify-content: center;
        }
      }
    }

    .recipe_block {
      .ads {
        display: none;
      }

      .recipe_body {
        width: 100vw;

        .bread_crumbs .breadcrumb-wrapper {
          overflow-x: auto;
          overflow-y: hidden;
          -webkit-overflow-scrolling: touch;

          .breadcrumb {
            flex-wrap: nowrap;
            white-space: nowrap;
            display: flex;
          }
        }

        .info .info_block_item .info_item {
          width: 25%;
        }

        // Заглушки — скелетон (не обов’язково, але круто)
        .second_list:empty,
        .third_list:empty {
          min-height: 100px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section .recipe_block .recipe_body .info .info_block_item .info_item {
    width: 32%;
  }

  .recipe-card {
    width: 160px;

    img {
      height: 110px;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 608px) {
  section
    .recipe_block
    .recipe_body
    .ingredients_block
    .main_data
    .ing_block
    .ingredient_information {
    .text {
      width: 80%;
    }

    .links {
      display: none !important;
    }
  }
}

@media (max-width: 420px) {
  section .recipe_block .recipe_body .info .info_block_item .info_item {
    width: 45%;
  }

  .recipe-card {
    width: 140px;

    img {
      height: 100px;
    }

    p {
      font-size: 0.85rem;
    }
  }
}
