@use "../../../styles/faq-block" as faq;

.advice_block,
.completion_block {
  h2 {
    @include faq.faq-section-title;
  }

  .text {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--clr-6);
    padding: 10px 2vw;
    color: var(--clr-b);
    @include faq.faq-answer-text;
  }
}