@use "../../styles/base-styles" as *;

header {
  width: 100vw;
  height: var(--header-height);
  background: linear-gradient(
    90deg,
    rgba(107, 153, 195, 0.804359243697479) 0%,
    rgba(107, 153, 195, 1) 53%,
    rgba(107, 153, 195, 1) 100%
  );
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  top: 0;
  left: 0;
  will-change: transform;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(20px);
    z-index: 1;
  }

  .navbar {
    width: 70%;
    position: relative;
    height: var(--header-height);
    background-color: transparent !important;
    display: flex;
    align-content: center;
    z-index: 1;

    .container-fluid {
      flex-wrap: nowrap;

      .navbar-brand {
        width: 7vw;
        height: 7vh;
        display: flex;
        align-items: center;
        margin-right: 10px;
        background-image: url(../../../../assets/icon/logo.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;

        p {
          padding-left: 7vw;
          color: var(--clr-w);
          margin: 0;
        }
      }

      .rigth {
        height: 100%;
        display: flex;

        .header_icon {
          width: 5vh;
          height: 5vh;
          margin-right: 20px;
          border-radius: 10px;
          position: relative;
          border: 2px solid var(--clr-w);
          border-radius: 10px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;

          &.facebook {
            background-image: url(../../../../assets/icon/facebook.png);
          }
          &.telegram {
            background-image: url(../../../../assets/icon/social/telegram.webp);
          }

          &.serch {
            background-image: url(../../../../assets/icon/search.webp);
          }
        }

        .navbar-toggler {
          padding: 1vh;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media (max-width: 780px) {
          .facebook,
          .telegram,
          .serch {
            display: none;
          }
        }

        .navbar-toggler {
          width: 5vh;
          height: 5vh;
          background-color: #3498db;
          position: relative;
          border: 2px solid var(--clr-w);
          border-radius: 10px;

          span {
            color: var(--clr-w);
          }
        }
      }

      .offcanvas {
        background-color: #022d663b !important;
        padding-top: 10vh;

        .offcanvas-header {
          a {
            color: var(--clr-w);
            cursor: pointer;
            text-decoration: none;
          }
        }

        .icom_block {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          padding-bottom: 20px;

          .header_icon {
            width: 5vh;
            height: 5vh;
            margin-right: 20px;
            border-radius: 10px;
            position: relative;
            border: 2px solid var(--clr-w);
            border-radius: 10px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;

            &.facebook {
              background-image: url(../../../../assets/icon/social/facebook.webp);
            }

            &.telegram {
              background-image: url(../../../../assets/icon/social/telegram.webp);
            }

            &.serch {
              background-image: url(../../../../assets/icon/search.webp);
            }
          }

          @media (min-width: 780px) {
            .facebook,
            .serch {
              display: none;
            }
          }
        }

        .header_menu {
          width: 100%;
          height: auto;
          position: relative;
          display: flex;
          flex-direction: column;
          list-style: none;

          .head_li {
            width: 100%;

            .btn_menu {
              width: 100%;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: 0.4px solid black;
              background-color: #032135;
              color: var(--clr-w);
              cursor: pointer;

              .nav-link {
                width: 90%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 10px;
                transition: 0.3s;
                font-size: 21px;

                &:hover {
                  background-color: var(--clr-2);
                }
              }

              .batton {
                width: 10%;
                height: 100%;
                padding: 5px;
                overflow: hidden;
                background-image: url("../../../../assets/icon/plas.png");
                background-size: 30px;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.3s;
              }
            }

            .sub_menu {
              width: 100%;
              display: none;
              flex-direction: column;
              list-style: none;
              padding-left: 0;

              .sub_li {
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                background-color: #032135;
                cursor: pointer;

                .submenu_text {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  color: var(--clr-w);
                  font-size: 21px;
                  text-decoration: none;

                  .nav-link {
                    width: 90%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    transition: 0.3s;

                    &:hover {
                      background-color: var(--clr-2);
                    }
                  }
                  .batton {
                    width: 10%;
                    height: 100%;
                    background-image: url("../../../../assets/icon/plas.png");
                    background-size: 30px;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 0.8s;
                    background-color: rgba(245, 222, 179, 0);
                  }
                }

                &.active {
                  height: auto;

                  &:hover {
                    background-color: transparent;
                  }
                  .submenu_text {
                    width: 100%;
                    height: 50px;

                    .batton {
                      transform: rotate(45deg);
                    }
                  }

                  .submenu_link {
                    width: 100%;
                    height: 50px;
                    background-color: var(--clr-2);

                    .batton {
                      transform: rotate(45deg);
                    }
                  }
                }

                .sub_sub_menu {
                  width: 100%;
                  height: auto;
                  display: none;
                  flex-direction: column;
                  align-items: center;
                  list-style: none;
                  background-color: #032135;

                  .sub_sub_li {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;

                    &:hover {
                      background-color: var(--clr-2);
                    }

                    .submenu_text p {
                      margin: 0;
                      padding-left: 20px;
                      color: var(--clr-w);
                    }
                  }

                  &.active {
                    display: flex;
                  }
                }
              }
            }

            &.active {
              .btn_menu {
                background-color: var(--clr-2);

                .batton {
                  transform: rotate(45deg);
                }
              }

              .sub_menu {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}

p {
  font-size: 21px;
}

@media (max-width: 780px) {
  header {
    padding: 0 5vw;
    margin-bottom: 15px;
    .navbar {
      width: 100%;
      .container-fluid {
        .navbar-brand p {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  header .navbar .container-fluid {
    flex-wrap: nowrap;

    .navbar-brand {
      color: var(--clr-w);

      p {
        font-size: 14px;
      }

      img {
        width: 5vh;
        height: 5vh;
        margin-right: 10px;
      }
    }
  }
}
