@charset "UTF-8";
/* Регулярний стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Жирний стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Жирний курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
/* Курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* Легкий стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Легкий курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
/* Середній стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Середній курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* Напівжирний */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Напівжирний курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
h1 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 2rem;
}
@media (min-width: 481px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 769px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1.5rem;
}
@media (min-width: 481px) {
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 769px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1.25rem;
}
@media (min-width: 481px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1.125rem;
}
@media (min-width: 481px) {
  h4 {
    font-size: 1.25rem;
  }
}
@media (min-width: 769px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1rem;
}
@media (min-width: 481px) {
  h5 {
    font-size: 1.125rem;
  }
}
@media (min-width: 769px) {
  h5 {
    font-size: 1.25rem;
  }
}

h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 0.875rem;
}
@media (min-width: 481px) {
  h6 {
    font-size: 1rem;
  }
}
@media (min-width: 769px) {
  h6 {
    font-size: 1rem;
  }
}

/* Оголошення шрифтів у :root */
:root {
  --header-height: 8vh;
}
@media (max-width: 1028px) {
  :root {
    --header-height: 50px;
  }
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
body .custom-font {
  margin: 0;
  font-family: "Mont Blanc", sans-serif;
}

:root {
  --clr-1: #022e66;
  --clr-2: #6b99c3;
  --clr-3: #d1ab7d;
  --clr-4: #96785b;
  --clr-5: #c2c3c5;
  --clr-g: #636662;
  --clr-w: #fff;
  --clr-b: #1c1919;
  --transition: all 0.8s linear;
}

ul {
  padding-left: 0rem;
}

.btn {
  color: var(--clr-w);
  background: var(--clr-1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: none;
  margin-top: 25px;
  transition: 0.35s;
}
.btn:not(.order-btn) i {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--clr-w);
  margin-left: 15px;
}
.btn:not(.order-btn) i:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 6px;
  height: 6px;
  margin-left: -1px;
  border-right: 2px solid var(--clr-w);
  border-bottom: 2px solid var(--clr-w);
}
.btn:hover {
  background: var(--clr-2);
  color: var(--clr-w);
}

.accordion-item .mat-expansion-indicator {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid var(--clr-b);
  border-radius: 100%;
  transition: var(--transition);
}
.accordion-item .mat-expansion-indicator::after {
  position: absolute;
  padding: 0px !important;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -1px;
  border-right: 2px solid var(--clr-b);
  border-bottom: 2px solid var(--clr-b);
  transform: translate(-50%, -50%) rotate(45deg) !important;
  transition: var(--transition);
}
.accordion-item:hover .mat-expansion-indicator {
  border: 2px solid var(--clr-2);
}
.accordion-item:hover .mat-expansion-indicator::after {
  border-right: 2px solid var(--clr-2);
  border-bottom: 2px solid var(--clr-2);
}

.swiper-slide .slick-dots {
  position: relative;
  width: 3%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  margin: 0 auto;
}
.swiper-slide .slick-dots .slick-active {
  background: var(--clr-1);
}
.swiper-slide .slick-dots .slick-active:hover {
  border: 1px solid var(--clr-1);
}
.swiper-slide .slick-dots li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #d1d9ce;
}
.swiper-slide .slick-dots li button::before {
  content: none;
}
.swiper-slide .slick-dots li:hover {
  background: var(--clr-2);
}

.ingModsl {
  width: 90vw;
  height: 90vh;
  border-radius: 16px;
  box-shadow: 0px 0px 20px -1px #595959;
}

.creat_ingredient_modal,
.add_dishes,
.сategoriesDishes_modal_dialog,
.cuisine_modal_dialog,
.methodCooking_modal_dialog,
.productCatgories_modal_dialog,
.pproducts_modal_dialog,
.add_tools,
.add_units {
  width: 50vw;
  height: 90vh;
  border-radius: 16px;
  box-shadow: 0px 0px 20px -1px #595959;
}

.btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  cursor: pointer;
}

header {
  width: 100vw;
  height: var(--header-height);
  background: linear-gradient(90deg, rgba(107, 153, 195, 0.8043592437) 0%, rgb(107, 153, 195) 53%, rgb(107, 153, 195) 100%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  top: 0;
  left: 0;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(20px);
  z-index: 1;
}
header .navbar {
  width: 70%;
  position: relative;
  height: var(--header-height);
  background-color: transparent !important;
  display: flex;
  align-content: center;
  z-index: 1;
}
header .navbar .container-fluid {
  flex-wrap: nowrap;
}
header .navbar .container-fluid .navbar-brand {
  width: 7vw;
  height: 7vh;
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-image: url(../../../../assets/icon/logo.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
header .navbar .container-fluid .navbar-brand p {
  padding-left: 7vw;
  color: var(--clr-w);
  margin: 0;
}
header .navbar .container-fluid .rigth {
  height: 100%;
  display: flex;
}
header .navbar .container-fluid .rigth .header_icon {
  width: 5vh;
  height: 5vh;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
  border: 2px solid var(--clr-w);
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
header .navbar .container-fluid .rigth .header_icon.facebook {
  background-image: url(../../../../assets/icon/facebook.png);
}
header .navbar .container-fluid .rigth .header_icon.telegram {
  background-image: url(../../../../assets/icon/social/telegram.webp);
}
header .navbar .container-fluid .rigth .header_icon.serch {
  background-image: url(../../../../assets/icon/search.webp);
}
header .navbar .container-fluid .rigth .navbar-toggler {
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 780px) {
  header .navbar .container-fluid .rigth .facebook,
  header .navbar .container-fluid .rigth .telegram,
  header .navbar .container-fluid .rigth .serch {
    display: none;
  }
}
header .navbar .container-fluid .rigth .navbar-toggler {
  width: 5vh;
  height: 5vh;
  background-color: #3498db;
  position: relative;
  border: 2px solid var(--clr-w);
  border-radius: 10px;
}
header .navbar .container-fluid .rigth .navbar-toggler span {
  color: var(--clr-w);
}
header .navbar .container-fluid .offcanvas {
  background-color: rgba(2, 45, 102, 0.231372549) !important;
  padding-top: 10vh;
}
header .navbar .container-fluid .offcanvas .offcanvas-header a {
  color: var(--clr-w);
  cursor: pointer;
  text-decoration: none;
}
header .navbar .container-fluid .offcanvas .icom_block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
header .navbar .container-fluid .offcanvas .icom_block .header_icon {
  width: 5vh;
  height: 5vh;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
  border: 2px solid var(--clr-w);
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
header .navbar .container-fluid .offcanvas .icom_block .header_icon.facebook {
  background-image: url(../../../../assets/icon/social/facebook.webp);
}
header .navbar .container-fluid .offcanvas .icom_block .header_icon.telegram {
  background-image: url(../../../../assets/icon/social/telegram.webp);
}
header .navbar .container-fluid .offcanvas .icom_block .header_icon.serch {
  background-image: url(../../../../assets/icon/search.webp);
}
@media (min-width: 780px) {
  header .navbar .container-fluid .offcanvas .icom_block .facebook,
  header .navbar .container-fluid .offcanvas .icom_block .serch {
    display: none;
  }
}
header .navbar .container-fluid .offcanvas .header_menu {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li {
  width: 100%;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .btn_menu {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.4px solid black;
  background-color: #032135;
  color: var(--clr-w);
  cursor: pointer;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .btn_menu .nav-link {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.3s;
  font-size: 21px;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .btn_menu .nav-link:hover {
  background-color: var(--clr-2);
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .btn_menu .batton {
  width: 10%;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  background-image: url("../../../../assets/icon/plas.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu {
  width: 100%;
  display: none;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #032135;
  cursor: pointer;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li .submenu_text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--clr-w);
  font-size: 21px;
  text-decoration: none;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li .submenu_text .nav-link {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.3s;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li .submenu_text .nav-link:hover {
  background-color: var(--clr-2);
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li .submenu_text .batton {
  width: 10%;
  height: 100%;
  background-image: url("../../../../assets/icon/plas.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.8s;
  background-color: rgba(245, 222, 179, 0);
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li.active {
  height: auto;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li.active:hover {
  background-color: transparent;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li.active .submenu_text {
  width: 100%;
  height: 50px;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li.active .submenu_text .batton {
  transform: rotate(45deg);
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li.active .submenu_link {
  width: 100%;
  height: 50px;
  background-color: var(--clr-2);
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li.active .submenu_link .batton {
  transform: rotate(45deg);
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li .sub_sub_menu {
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: #032135;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li .sub_sub_menu .sub_sub_li {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li .sub_sub_menu .sub_sub_li:hover {
  background-color: var(--clr-2);
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li .sub_sub_menu .sub_sub_li .submenu_text p {
  margin: 0;
  padding-left: 20px;
  color: var(--clr-w);
}
header .navbar .container-fluid .offcanvas .header_menu .head_li .sub_menu .sub_li .sub_sub_menu.active {
  display: flex;
}
header .navbar .container-fluid .offcanvas .header_menu .head_li.active .btn_menu {
  background-color: var(--clr-2);
}
header .navbar .container-fluid .offcanvas .header_menu .head_li.active .btn_menu .batton {
  transform: rotate(45deg);
}
header .navbar .container-fluid .offcanvas .header_menu .head_li.active .sub_menu {
  display: flex;
}

p {
  font-size: 21px;
}

@media (max-width: 780px) {
  header {
    padding: 0 5vw;
    margin-bottom: 15px;
  }
  header .navbar {
    width: 100%;
  }
  header .navbar .container-fluid .navbar-brand p {
    font-size: 18px;
  }
}
@media (max-width: 580px) {
  header .navbar .container-fluid {
    flex-wrap: nowrap;
  }
  header .navbar .container-fluid .navbar-brand {
    color: var(--clr-w);
  }
  header .navbar .container-fluid .navbar-brand p {
    font-size: 14px;
  }
  header .navbar .container-fluid .navbar-brand img {
    width: 5vh;
    height: 5vh;
    margin-right: 10px;
  }
}/*# sourceMappingURL=header.component.css.map */