@charset "UTF-8";
/* Регулярний стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Жирний стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Жирний курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
/* Курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* Легкий стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Легкий курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
/* Середній стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Середній курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* Напівжирний */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Напівжирний курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
h1 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 2rem;
}
@media (min-width: 481px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 769px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1.5rem;
}
@media (min-width: 481px) {
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 769px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1.25rem;
}
@media (min-width: 481px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1.125rem;
}
@media (min-width: 481px) {
  h4 {
    font-size: 1.25rem;
  }
}
@media (min-width: 769px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1rem;
}
@media (min-width: 481px) {
  h5 {
    font-size: 1.125rem;
  }
}
@media (min-width: 769px) {
  h5 {
    font-size: 1.25rem;
  }
}

h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 0.875rem;
}
@media (min-width: 481px) {
  h6 {
    font-size: 1rem;
  }
}
@media (min-width: 769px) {
  h6 {
    font-size: 1rem;
  }
}

/* Регулярний стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Жирний стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Жирний курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
/* Курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* Легкий стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Легкий курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
/* Середній стиль */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Середній курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* Напівжирний */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Напівжирний курсив */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond,Roboto/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
h1 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 2rem;
}
@media (min-width: 481px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 769px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1.5rem;
}
@media (min-width: 481px) {
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 769px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1.25rem;
}
@media (min-width: 481px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1.125rem;
}
@media (min-width: 481px) {
  h4 {
    font-size: 1.25rem;
  }
}
@media (min-width: 769px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 1rem;
}
@media (min-width: 481px) {
  h5 {
    font-size: 1.125rem;
  }
}
@media (min-width: 769px) {
  h5 {
    font-size: 1.25rem;
  }
}

h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: 0.875rem;
}
@media (min-width: 481px) {
  h6 {
    font-size: 1rem;
  }
}
@media (min-width: 769px) {
  h6 {
    font-size: 1rem;
  }
}

/* Оголошення шрифтів у :root */
:root {
  --header-height: 8vh;
}
@media (max-width: 1028px) {
  :root {
    --header-height: 50px;
  }
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
body .custom-font {
  margin: 0;
  font-family: "Mont Blanc", sans-serif;
}

:root {
  --clr-1: #022e66;
  --clr-2: #6b99c3;
  --clr-3: #d1ab7d;
  --clr-4: #96785b;
  --clr-5: #c2c3c5;
  --clr-g: #636662;
  --clr-w: #fff;
  --clr-b: #1c1919;
  --transition: all 0.8s linear;
}

ul {
  padding-left: 0rem;
}

.btn {
  color: var(--clr-w);
  background: var(--clr-1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: none;
  margin-top: 25px;
  transition: 0.35s;
}
.btn:not(.order-btn) i {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--clr-w);
  margin-left: 15px;
}
.btn:not(.order-btn) i:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 6px;
  height: 6px;
  margin-left: -1px;
  border-right: 2px solid var(--clr-w);
  border-bottom: 2px solid var(--clr-w);
}
.btn:hover {
  background: var(--clr-2);
  color: var(--clr-w);
}

.accordion-item .mat-expansion-indicator {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid var(--clr-b);
  border-radius: 100%;
  transition: var(--transition);
}
.accordion-item .mat-expansion-indicator::after {
  position: absolute;
  padding: 0px !important;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -1px;
  border-right: 2px solid var(--clr-b);
  border-bottom: 2px solid var(--clr-b);
  transform: translate(-50%, -50%) rotate(45deg) !important;
  transition: var(--transition);
}
.accordion-item:hover .mat-expansion-indicator {
  border: 2px solid var(--clr-2);
}
.accordion-item:hover .mat-expansion-indicator::after {
  border-right: 2px solid var(--clr-2);
  border-bottom: 2px solid var(--clr-2);
}

.swiper-slide .slick-dots {
  position: relative;
  width: 3%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  margin: 0 auto;
}
.swiper-slide .slick-dots .slick-active {
  background: var(--clr-1);
}
.swiper-slide .slick-dots .slick-active:hover {
  border: 1px solid var(--clr-1);
}
.swiper-slide .slick-dots li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #d1d9ce;
}
.swiper-slide .slick-dots li button::before {
  content: none;
}
.swiper-slide .slick-dots li:hover {
  background: var(--clr-2);
}

.ingModsl {
  width: 90vw;
  height: 90vh;
  border-radius: 16px;
  box-shadow: 0px 0px 20px -1px #595959;
}

.creat_ingredient_modal,
.add_dishes,
.сategoriesDishes_modal_dialog,
.cuisine_modal_dialog,
.methodCooking_modal_dialog,
.productCatgories_modal_dialog,
.pproducts_modal_dialog,
.add_tools,
.add_units {
  width: 50vw;
  height: 90vh;
  border-radius: 16px;
  box-shadow: 0px 0px 20px -1px #595959;
}

.btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  cursor: pointer;
}

section {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--header-height);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}
section h1 {
  text-align: center;
  margin-top: 20px;
}
section .paragraph {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media (max-width: 980px) {
  section .paragraph {
    width: 95%;
  }
}
section .paragraph h2 {
  text-align: center;
  margin: 20px 0;
}
section .paragraph p {
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
}
section .paragraph .full_image {
  width: 80%;
  margin: 20px auto;
}
@media (max-width: 980px) {
  section .paragraph .full_image {
    width: 95%;
  }
}
section .paragraph .full_image img {
  width: 100%;
  height: auto;
  display: block;
}
section .paragraph .content {
  width: 100%;
}
section .paragraph .content p {
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
}
section .paragraph .content .float-image {
  width: 400px;
  height: auto;
  margin: 0 20px 20px 0;
  border-radius: 12px;
}
@media (max-width: 980px) {
  section .paragraph .content .float-image {
    width: 40%;
  }
}
section .paragraph .content .two {
  float: left;
}
section .paragraph .content .four {
  float: right;
}/*# sourceMappingURL=about-us.component.css.map */