<section>
  <div class="background_image">
    <img
      class="bg_image"
      [src]="image"
      alt="{{ categoryName }}"
      loading="lazy"
    />
  </div>

  <div class="home_title">
    <h1>{{ categoryName }}</h1>
    <nav aria-label="breadcrumb" class="breadcrumb_line">
      <ol class="breadcrumb" id="breadcrumbMenu">
        <li class="breadcrumb-item">
          <a [appSsrLink]="'/'">Головна</a>
        </li>

        <li class="breadcrumb-item">
          <a [appSsrLink]="'/dishes'">Рецепти Синього Кота</a>
        </li>
        <li class="breadcrumb-item">
          <a [appSsrLink]="['categories', dishesID]">{{ dishesName }}</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          {{ categoryName }}
        </li>
      </ol>
    </nav>
  </div>

  <div class="list_block">
    <div class="description_block">
      <div #textBlocks class="content">
        <div class="description">
          <div class="cat_img">
            <img
              [src]="additionalImage"
              alt="{{ dishesName }}"
              loading="lazy"
            />
          </div>
          <div [innerHTML]="categoryDescription"></div>
        </div>
      </div>
    </div>

    <div class="dishes_list_block">
      <ul class="dishes_list">
        @for (recipeList of recipesFilter; track recipeList; ) {
        <li class="dishes_card">
          <a [appSsrLink]="['recipe-page', recipeList.id]">
            <div class="img_black">
              <img
                [src]="recipeList.mainImage"
                alt="{{ recipeList.recipeTitle }}"
                loading="lazy"
              />
            </div>
          </a>
          <div class="text_block">
            <div class="recipe_name">
              <a [appSsrLink]="['recipe-page', recipeList.id]">
                {{ recipeList.recipeTitle }}
              </a>
            </div>
          </div>

          <div class="fav-btn" (click)="toggleFavorite(recipeList.id)">
            <img
              [src]="
                isFavorite(recipeList.id)
                  ? 'assets/icon/favorite/star-favorite-filled.webp'
                  : 'assets/icon/favorite/star-favorite-empty.webp'
              "
              alt="Обране"
            />
          </div>
        </li>
        }

        <!--    <div class="show_more">
                      <button *ngIf="recipes.length < allRecipes.length" (click)="loadMore()" class="sm_button">
                          Показати ще
                      </button>
                  </div> -->
      </ul>
    </div>
  </div>
</section>
