<div class="recipe_title">
  <h1>{{ recipeTitle() }}</h1>
</div>

@if (recipeID()) {
  <app-rating
    [ratingSumInput]="ratingSum()"
    [ratingCountInput]="ratingCount()"
    [recipeID]="recipeID()"
  >
  </app-rating>
}

<div class="image_block">
  @if (mainImageDesktop()) {
    <picture>
      @if (mainImageMobile()) {
        <source media="(max-width: 768px)" [srcset]="mainImageMobile()!" />
      }

      <img
        [ngSrc]="mainImageDesktop()"
        width="1920"
    height="1080"
        [alt]="'Фотографія страви під назвою ' + recipeTitle()"
        sizes="(max-width: 768px) 100vw, 80vw"
        priority
        class="main-image"
        (click)="openCurrentImage()"
      />
    </picture>
  } @else {
    <div class="image-skeleton"></div>
  }
  <button
    class="fav-btn"
    (click)="toggleFavorite(recipeID()); $event.stopPropagation()"
    type="button"
    [attr.aria-label]="isFavorite(recipeID()) ? 'Видалити з обраного' : 'Додати в обране'"
  >
    <img
      class="fav-icon"
      [src]="
        isFavorite(recipeID())
          ? 'assets/icon/favorite/star-favorite-filled.webp'
          : 'assets/icon/favorite/star-favorite-empty.webp'
      "
      alt=""
    />
  </button>
</div>

@if (selectedImage()) {
  <div class="image-backdrop" (click)="closeImage()">
    <div class="image-modal">
      <img [src]="selectedImage()" alt="" (click)="closeImage()" />
      <button class="close-btn" (click)="closeImage(); $event.stopPropagation()">✕</button>
    </div>
  </div>
}
