<div id="ingredients_block" class="ingredients_block">
  <h3 class="ingredients_title">Інгредієнти</h3>
  <div class="main_data">
    <div class="ingredients">
      @for (item of ingredients(); track $index) {
        @if (item.name) {
          <div class="group_name">
            <h4>{{ item.name }}</h4>
          </div>
        }

        <div class="ing_block">
          @for (group of item.group; track $index) {
            <div class="ingredient_information">
              <div class="image">
                <img
                  [ngSrc]="group.image"
                  [alt]="group.text"
                  width="40"
                  height="40"
                  class="ing_img" />
              </div>

              <div class="title text">
                <p>{{ group.text }}</p>
              </div>
            </div>
          }
        </div>
      }
    </div>

    <h4>Збережи інгредієнти</h4>
    <div class="save_ibgredients">
      <div (click)="saveToViber()" class="social_icon viber" role="button">
        <div class="icon">
          <img
            ngSrc="assets/icon/social/viber.webp"
            alt="Viber"
            width="40"
            height="40" />
        </div>
      </div>
      <div (click)="saveToTelegram()" class="social_icon telegram" role="button">
        <div class="icon">
          <img
            ngSrc="assets/icon/social/telegram.webp"
            alt="Telegram"
            width="40"
            height="40" />
        </div>
      </div>
    </div>
  </div>
</div>

@if (accompanyingRecipes() && accompanyingRecipes().length > 0) {
  <div class="accompanying_recipes">
    <h3 class="accompanying_recipes_title">Супутні рецепти</h3>

    <div class="smooth-wrapper" [class.expanded]="isExpanded()">
      <ul>
        @for (item of accompanyingRecipes(); track item.recipeID) {
          @if (isExpanded() || $index === 0) {
            <li class="recipe_link">
              <a [appSsrLink]="['recipe-page', item.recipeID]">
                <div class="img_black">
                  <img
                    [ngSrc]="item.recipeImage"
                    [alt]="item.recipeName"
                    width="120"
                    height="80" />
                </div>
              </a>

              <div class="text_block">
                <div class="recipe_name">
                  <h4 [appSsrLink]="['recipe-page', item.recipeID]">
                    {{ item.recipeName }}
                  </h4>
                </div>
              </div>
            </li>
          }
        }
      </ul>
    </div>

    @if (accompanyingRecipes().length > 1) {
      <button 
        class="toggle_button" 
        (click)="toggleExpand()">
        {{ isExpanded() ? "Приховати" : "Показати всі" }}
      </button>
    }
  </div>
}