body {
  font-family: -apple-system, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
  margin: 0;
}


h1, h2, h3 {
  color: #f0f0f0;
  margin-bottom: 1rem;
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}