.recipe_description {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  hyphens: auto;

  .recipe_subtitles {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--clr-4);
    margin: 0;
    text-align: center;
    padding: 10px 2w;
    color: var(--clr-w);
  }

  .recipe_description_block {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    // Обмежуємо висоту на мобільних, щоб кнопка мала сенс
    max-height: 250px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    background-color: var(--clr-6);
    padding: 10px 2vw 40px 2vw; // Додав відступ знизу під кнопку
    color: var(--clr-b);
    p{

    font-weight: 400;
    font-size: 1rem;
 
}
   
   

    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background: linear-gradient(rgba(255, 255, 255, 0), var(--clr-6));
      transition: opacity 0.3s;
    }

    &.expanded {
      max-height: 5000px; // Достатньо для великого тексту

      &::after {
        opacity: 0; // Ховаємо градієнт
        pointer-events: none;
      }
    }
  }

  .toggle_btn {
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: var(--clr-2);
    color: var(--clr-b);
    padding: 6px 15px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    z-index: 2;
  }

  // Десктоп версія
  @media (min-width: 768px) {
    .recipe_description_block {
      max-height: none !important;
      padding-bottom: 10px;

      &::after {
        display: none;
      }
    }

    .toggle_btn {
      display: none; // Ховаємо кнопку на великих екранах
    }
  }
}