<section>
  <div class="header_block"></div>

  <div class="menu_block">
    <ul class="recipe_menu">
      <li [ngClass]="{ active: 0 == activeItem }" class="item_menu">
        <a href="javascript:void(0)" (click)="scroll('recipe-about', 0)"
          >ПРО РЕЦЕПТ</a
        >
      </li>
      <li [ngClass]="{ active: 1 == activeItem }" class="item_menu">
        <a href="javascript:void(0)" (click)="scroll('ingredients', 1)"
          >ІНГРЕДІЄНТИ</a
        >
      </li>
      <li [ngClass]="{ active: 2 == activeItem }" class="item_menu">
        <a href="javascript:void(0)" (click)="scroll('instruction', 2)"
          >КРОКИ</a
        >
      </li>
      <li [ngClass]="{ active: 3 == activeItem }" class="item_menu">
        <a href="javascript:void(0)" (click)="scroll('council', 3)">ПОРАДИ</a>
      </li>
    </ul>
  </div>

  <div class="recipe_block">
    <div class="ads"></div>

    <div class="recipe_body">
      <!--Хлібні крихти-->
      <nav id="recipe-about" aria-label="breadcrumb" class="breadcrumb_line">
        <ol class="breadcrumb" id="breadcrumbMenu">
          <li class="breadcrumb-item">
            <a [appSsrLink]="'/'">Головна</a>
          </li>

          <li class="breadcrumb-item">
            <a [appSsrLink]="'/dishes'">Рецепти Синього Кота</a>
          </li>

          <li class="breadcrumb-item">
            <a [appSsrLink]="['categories', dishesID]">{{ dishesName }}</a>
          </li>

          <li class="breadcrumb-item">
            <a [appSsrLink]="['recipes-list', categoryID]">{{
              categoryName
            }}</a>
          </li>

          <li class="breadcrumb-item active" aria-current="page">
            {{ recipeTitle }}
          </li>
        </ol>
      </nav>

      <!--ЗАГОЛОВОК-->
      <div class="recipe_title">
        <h1>{{ recipeTitle }}</h1>
      </div>

      <!--Зображення-->
      <div class="image_block">
        <img
          class="recipe_image"
          [src]="mainImage"
          alt="Фотографія страви під назвою {{ recipeTitle }}"
          fetchpriority="high"
          loading="eager"
          decoding="auto"
          style="cursor: pointer"
        />
      </div>

      <app-recipe-info [seasons]="seasons" [info]="info"></app-recipe-info>

      <app-recipe-description
        [recipeSubtitles]="recipeSubtitles"
        [descriptionRecipe]="descriptionRecipe"
      ></app-recipe-description>

      <app-recipe-ingredients
        [accompanyingRecipes]="accompanyingRecipes"
        [ingredients]="ingredients"
      ></app-recipe-ingredients>

      <app-recipe-instructions
        [instructions]="instructions"
      ></app-recipe-instructions>

      <!--  ПОРАДИ  -->
      <div id="council" class="advice_block">
        <h2>Деякі поради</h2>
        <div class="text" [innerHTML]="advice"></div>
      </div>

      <!--  Завершення  -->
      <div *ngIf="completion" class="completion_block">
        <h2>Завершення</h2>
        <div class="text" [innerHTML]="completion"></div>
      </div>
    </div>

    <div class="ads"></div>
  </div>

  <app-auto-scroll-carousel
    [dishesID]="dishesID"
    [recipeID]="recipeID"
    [currentURL]="currentURL"
  ></app-auto-scroll-carousel>
</section>
