

<!--ІНГРИДІЄНТИ-->
<div id="ingredients" class="ingredients_block">
  <h3 class="ingredients_title">Інгредієнти</h3>
  <div class="main_data">
    <div class="ingredients">
      @for (item of ingredients; track $index) {
      <div *ngIf="item.name" class="group_name">
        <h4>{{ item.name }}</h4>
      </div>

      <div class="ing_block">
        @for (group of item.group; track $index) {
        <div class="ingredient_information">
          <!--Зображення-->
          <div class="image">
            <img
              [src]="group.image"
              alt="{{ group.text }}"
              loading="lazy"
              decoding="async" />
          </div>

          <!--Назва-->
          <div class="title text">
            <p>
              {{ group.text }}
            </p>
          </div>

        </div>

        }
      </div>
      }
    </div>

    <h4>Збережи інгридієнти</h4>
    <div class="save_ibgredients">
      <div (click)="saveToViber()" class="social_icon viber">
        <div class="icon">
          <img
            src="../../../../../assets/icon/social/viber.webp"
            alt="Зберегти у Viber"
            loading="lazy"
            decoding="async" />
        </div>
      </div>
      <div (click)="saveToTelegram()" class="social_icon telegram">
        <div class="icon">
          <img
            src="../../../../../assets/icon/social/telegram.webp"
            alt="Зберегти у Telegram"
            loading="lazy"
            decoding="async" />
        </div>
      </div>
    </div>
  </div>
</div>

<!--СУПУТНІ РЕЦЕПТИ-->
<div
  *ngIf="accompanyingRecipes && accompanyingRecipes.length > 0"
  class="accompanying_recipes">
  <h3 class="accompanying_recipes_title">Супутні рецепти</h3>

  <!-- Плавний контейнер -->
  <div class="smooth-wrapper" [class.expanded]="isExpanded">
    <ul>
      @for (
      item of accompanyingRecipes;
      track $index
      ) {
      <li *ngIf="isExpanded || $index === 0" class="recipe_link">
        <a [appSsrLink]="['recipe-page', item.recipeID]">
          <div class="img_black">
            <img
              [src]="item.recipeImage"
              alt="{{ item.recipeName }}"
              loading="lazy" />
          </div>
        </a>

        <div class="text_block">
          <div class="recipe_name">
            <h4 [appSsrLink]="['recipe-page', item.recipeID]">
              {{ item.recipeName }}
            </h4>
          </div>
        </div>
      </li>
      }
    </ul>
  </div>

  <div
    *ngIf="accompanyingRecipes.length > 1"
    class="button"
    (click)="toggleExpand()">
    {{ isExpanded ? "Приховати" : "Показати всі" }}
  </div>
</div>
