<div
  class="carousel-wrapper"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <button class="scroll-btn left" (click)="scrollLeft()">&lt;</button>

  <div
    class="auto-scroll-container"
    #scrollContainer
    (mousedown)="onDragStart($event)"
    (mouseup)="onDragEnd()"
    (mouseleave)="onDragEnd()"
    (mousemove)="onDragMove($event)"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd()"
    (touchmove)="onTouchMove($event)"
  >
    <div *ngFor="let recipe of recipes" class="recipe-card">
      <a [appSsrLink]="['/recipe-page', recipe.id]">
        <img
          [src]="recipe.mainImage"
          [alt]="recipe.recipeTitle"
          loading="lazy"
          decoding="async"
        />
        <h3>{{ recipe.recipeTitle }}</h3>
      </a>
    </div>
  </div>

  <button class="scroll-btn right" (click)="scrollRight()">&gt;</button>
</div>
