<section class="profile_page">

  <div class="profile_wrap">

    <!-- Ліва панель меню -->
    <aside [class.open]="isMenuOpen" class="sidebar">
      <ul>
        <li *ngFor="let menuItem of list; let i = index"
          [ngClass]="{ 'active': i === activeItem }"
          (click)="onSelectItem(i)"  (click)="openMobileMenu()" >
          <p class="nav-link">{{ menuItem.name }}</p>
        </li>
      </ul>

      <div
        [class.open]="isMenuOpen"
        (click)="openMobileMenu()" 
        
        class="open_menu">
      </div>
    </aside>

    <!-- Контент праворуч -->
    <main class="content">
      <!-- Моя комора -->
      <section *ngIf="activeItem === 0">
        <h2>Моя комора</h2>
        <ng-container *ngIf="user$ | async as user; else loading">
          <img
            *ngIf="user.photoURL"
            [src]="user.photoURL"
            class="avatar"
            alt="avatar" />
          <p><strong>Ім’я:</strong> {{ user?.displayName || 'Невідомо'
            }}</p>
          <p><strong>Email:</strong> {{ user?.email || 'Невідомо' }}</p>
          <!-- Можна додати більше інформації з Firestore -->
        </ng-container>
        <ng-template #loading><p>Завантаження...</p></ng-template>
        <button class="btn logout" (click)="logout()">Вийти</button>
      </section>

      <!-- Смаколики до душі -->
      <section *ngIf="activeItem === 1">
        <h2>Смаколики до душі</h2>
         <ul class="dishes_list">
        @for (recipeList of recipes; track recipeList; ) {
        <li class="dishes_card">
          <a [appSsrLink]="['recipe-page', recipeList.id]">
            <div class="img_black">
              <img
                [src]="recipeList.mainImage"
                alt="{{ recipeList.recipeTitle }}"
                loading="lazy"
              />
            </div>
          </a>
          <div class="text_block">
            <div class="recipe_name">
              <a [appSsrLink]="['recipe-page', recipeList.id]">
                {{ recipeList.recipeTitle }}
              </a>
            </div>
          </div>

        
        </li>
        }

     
      </ul>
      </section>

      <!-- Недоварені записи -->
      <section *ngIf="activeItem === 2">
        <h2>Недоварені записи</h2>
        <p>Чернетки ваших рецептів.</p>
      </section>

      <!-- Скриня налаштувань -->
      <section *ngIf="activeItem === 3">
        <h2>Скриня налаштувань</h2>
        <p>Особисті налаштування акаунту.</p>
        <button class="btn logout" (click)="logout()">Вийти</button>
      </section>

    </main>
  </div>

</section>
