@import "./../../styles/fonts";
@import "./../../styles/base-styles";

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--header-height);
  line-height: 1.6;
  color: var(--clr-w);

  h1 {
    width: 90%;
    text-align: center;
    margin: 20px 0;
    font-size: 2.2rem;
  }

  h2 {
    width: 90%;
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
  }

  .contact-block,
  .form-block {
    width: 40%;
    margin-inline: auto;
    background-color: var(--clr-3);
    border: 1px solid var(--clr-1);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 1.1rem;
        margin-bottom: 10px;

        a {
          color: var(--clr-w);
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    form {
      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;

        label {
          margin-bottom: 0.5rem;
          font-weight: 600;
        }

        input,
        textarea {
          padding: 0.7rem 1rem;
          border: 1px solid var(--clr-1);
          border-radius: 0.5rem;
          font-size: 1rem;
          background-color: var(--clr-w);
          color: var(--clr-b);
        }

        textarea {
          height: 20vh;
          resize: vertical;
        }
      }

      .btn {
        display: inline-block;
        padding: 0.7rem 1.5rem;
        border: 1px solid var(--clr-1);
        border-radius: 0.5rem;
        background-color: transparent;
        color: var(--clr-w);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: var(--clr-1);
          color: var(--clr-3);
        }
      }
    }

    @media (max-width: 980px) {
      width: 95%;
      padding: 10px;
    }
  }
}
