<section>
    <h1 class="mb-4 display-5 fw-bold">Контакти таверни «Синій Кіт»</h1>
    <h2 class="fs-5 mb-4">
        Якщо хочеш надіслати рецепт, подяку, прокляття, чи просто побалакати про борщ — пиши нам. Хоч в день, хоч у
        північ, ми тут, біля казана.
    </h2>

    <div class="contact-block">
        <h2 class="h5 fw-bold">Як зв’язатись з Сиволапом:</h2>
        <ul class="list-unstyled fs-5">
            <li> Пошта: <a href="mailto:info@tsk.in.ua" class="link-dark">info&#64;tsk.in.ua</a></li>
            <li>Telegram: <a href="https://t.me/yuriiohlii" class="link-dark" target="_blank">Телеграмм</a></li>
            <li>Facebook-група: <a href="https://www.facebook.com/groups/2412991875747035/?checkpoint_src=any"
                    class="link-dark" target="_blank">Tavern «Синій Кіт»</a></li>
            <li>Місце нашої алхімії: Львів, Україна</li>
        </ul>
    </div>

    <div class="form-block">
        <h2 class="h5 fw-bold mb-3">Напиши Сиволапу листа:</h2>

        <form action="https://formspree.io/f/your-form-id" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Як тебе звати, подорожній?</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Наприклад: Кіт Василь"
                    required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Твоя пошта (щоб сова могла відписати)</label>
                <input type="email" class="form-control" id="email" name="_replyto" placeholder="твоя@пошта.ua"
                    required>
            </div>

            <div class="mb-3">
                <label for="message" class="form-label">Що хочеш сказати котові?</label>
                <textarea class="form-control" id="message" name="message" rows="5"
                    placeholder="Пиши хоч про любов, хоч про горілку..." required></textarea>
            </div>

            <button type="submit" class="btn btn-outline-primary">
                Надіслати листа
            </button>
        </form>
    </div>

    <app-fooyer></app-fooyer>
</section>