<section>
  <div class="background_image">
    <div class="bg_image" aria-label="Фонове зображення"></div>
  </div>

  <div class="home_title">
    <h1>Байки Синього Кота</h1>

    <nav aria-label="breadcrumb" class="breadcrumb_line">
      <ol class="breadcrumb collapse d-md-flex" id="breadcrumbMenu">
        <li class="breadcrumb-item">
          <a [appSsrLink]="'/'">Головна</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Байки Синього Кота
        </li>
      </ol>
    </nav>
  </div>

  <div class="list_block">
    <div class="description_block">
      <div #textBlocks class="content">
        <div class="description">
          <div class="cat_img">
            <img
              src="../../../assets/image/baiky-synoho-kota-kit.webp"
              alt="Кіт"
              loading="lazy"
            />
          </div>

          <p><strong>Довгих днів, та приємних ночей, подорожній!</strong></p>
          <p>
            Прошу сідай отам, де менше крихт, і посунь пивний кухоль – я тобі
            зараз таке розповім, що борода зав’ється, навіть як у тебе її нема.
          </p>
          <p>
            Цей розділ не просто збірка текстів. Це хроніки, що їх я особисто
            писав (ну добре, іноді надиктовував одному заплямованому писарю, але
            ідеї мої!). Тут ти знайдеш легенди про походження найсмачніших
            страв, байки про кулінарні подвиги давніх героїв, історії з кухонь,
            де готують не лише суп, а й змови. Тут хрумтить хліб, вариться
            цибуля, і кожне слово пахне приправами.
          </p>
          <p>
            Я розповім, як шаман у степах наварив перший борщ, чому імператор не
            дожив до десерту, і хто насправді вкрав рецепт рогаликів у
            двоголового дракона. Звісно, всі імена змінено, а винних уже з’їли.
            Але атмосфера справжня: тріск вогнища, гуркіт кухонних казанів і
            брязкіт келихів.
          </p>
          <p>
            Цей розділ для тих, хто хоче не лише готувати, а й поринути в казку.
            Тому відкривай кожну статтю як нову главу кухонного епосу. Байка за
            байкою — і ти вже не просто кухар, а кулінарний авантюрист.
          </p>
          <p>
            <strong
              >Гортай, читай, дивуйся — а потім бери ложку і приготуй щось
              справді легендарне!</strong
            >
          </p>
        </div>
      </div>
    </div>

    <div class="dishes_list_block">
      <ul class="dishes_list">
        @for (types of articleTypes; track types) {
        <li class="dishes_card">
          <a [appSsrLink]="['article-categories', types.id]">
            <div class="img_black">
              <img
                [src]="types.image"
                alt="{{ types.articleTypeName }}"
                loading="lazy"
              />
            </div>
          </a>
          <div class="text_block">
            <div class="recipe_name">
              <a [appSsrLink]="['article-categories', types.id]">
                {{ types.articleTypeName }}
              </a>
            </div>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</section>
