.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
 background-image: url(../assets/icon/up.png);
  width: 40px;
  height: 40px;
  background-size: cover;
}


app-header.fixed-header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; // Щоб був над усім контентом
 
}