.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
 background-image: url(../assets/icon/up.png);
  width: 40px;
  height: 40px;
  background-size: cover;
}