<section>
  <div class="background_image">
    <img class="bg_image" [src]="image" alt="{{ dishesName }}" loading="lazy" />
  </div>

  <div class="home_title">
    <h1>{{ dishesName }}</h1>
    <nav aria-label="breadcrumb" class="breadcrumb_line">
      <ol class="breadcrumb" id="breadcrumbMenu">
        <li class="breadcrumb-item">
          <a [appSsrLink]="'/'">Головна</a>
        </li>

        <li class="breadcrumb-item">
          <a [appSsrLink]="'/dishes'">Рецепти Синього Кота</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          {{ dishesName }}
        </li>
      </ol>
    </nav>
  </div>

  <div class="list_block">
    <div class="description_block">
      <div #textBlocks class="content">
        <div class="description">
          <div class="cat_img">
            <img
              [src]="additionalImage"
              alt="{{ dishesName }}"
              loading="lazy"
            />
          </div>
          <div [innerHTML]="dishDescription"></div>
        </div>
      </div>
    </div>

    <div class="dishes_list_block">
      <ul class="dishes_list">
        <li
          class="dishes_card"
          *ngFor="let category of categryList; trackBy: trackByCategory"
        >
          <a [appSsrLink]="['recipes-list', category.id]">
            <div class="img_black">
              <img
                [src]="category.image"
                [alt]="category.categoryName"
                loading="lazy"
              />
            </div>
          </a>
          <div class="text_block">
            <div class="recipe_name">
              <a [appSsrLink]="['recipes-list', category.id]">
                {{ category.categoryName }}
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
