<section>
  <div class="background_image">
    <img
      class="bg_image"
      [src]="image"
      alt="{{ aticleCategoryName }}"
      loading="lazy"
    />
  </div>

  <div class="home_title">
    <h1 [ngStyle]="{ 'font-size': fontSize }">
      {{ aticleCategoryName }}
    </h1>

    <nav aria-label="breadcrumb" class="breadcrumb_line">
      <ol class="breadcrumb" id="breadcrumbMenu">
        <li class="breadcrumb-item">
          <a [appSsrLink]="'/'">Головна</a>
        </li>
        <li class="breadcrumb-item">
          <a [appSsrLink]="'/dishes'">Рецепти Синього Кота</a>
        </li>
        <li class="breadcrumb-item">
          <a [appSsrLink]="['categories', articleTypeID]">
            {{ articleTypeName }}
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ aticleCategoryName }}
        </li>
      </ol>
    </nav>
  </div>

  <div class="list_block">
    <div class="description_block">
      <div #textBlocks class="content" [class.show]="isVisible">
        <div class="description">
          <div class="cat_img">
            <img
              [src]="additionalImage"
              alt="{{ aticleCategoryName }}"
              loading="lazy"
            />
          </div>
          <div [innerHTML]="aticleCategoryDescription"></div>
        </div>
      </div>
    </div>

    <div class="dishes_list_block">
      <ul class="dishes_list">
        @for (articleList of articles; track articleList; ) {
        <li class="dishes_card">
          <a [appSsrLink]="['article-page', articleList.id]">
            <div class="img_black">
              <img
                [src]="articleList.mainImage"
                alt="{{ articleList.articleName }}"
                loading="lazy"
              />
            </div>
          </a>
          <div class="text_block">
            <div class="recipe_name">
              <a [appSsrLink]="['article-page', articleList.id]">
                {{ articleList.articleName }}
              </a>
            </div>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</section>
