<section>
  <div class="background_image">
    <img
      class="bg_image"
      [src]="image"
      alt="{{ aticleCategoryName }}"
      loading="lazy"
    />
  </div>

  <div class="home_titel">
    <h1 [ngStyle]="{ 'font-size': fontSize }">{{ aticleCategoryName }}</h1>
  </div>

  <div class="breadcrumb_line">
    <nav aria-label="breadcrumb" class="bread_crumbs">
      <!-- Кнопка для мобільних пристроїв -->
      <button
        class="btn btn-outline-secondary d-md-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#breadcrumbMenu"
        aria-expanded="false"
        aria-controls="breadcrumbMenu"
      ></button>

      <!-- Хлібні крихти для десктопу і приховані на мобільних пристроях -->
      <ol class="breadcrumb collapse d-md-flex" id="breadcrumbMenu">
        <li class="breadcrumb-item">
          <a [appSsrLink]="'/'">Головна</a>
        </li>
        <li class="breadcrumb-item">
          <a [appSsrLink]="'/dishes'">Рецепти Синього Кота</a>
        </li>
        <li class="breadcrumb-item">
          <a [appSsrLink]="['categories', articleTypeID]">{{
            articleTypeName
          }}</a>
        </li>
        <li class="breadcrumb-item">
          <a>{{ aticleCategoryName }}</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="list_block">
    <div class="deskription_block">
      <div #textBlocks class="content" [class.visible]="isVisible">
        <div class="deskription" [innerHTML]="aticleCategoryDescription"></div>
        <div class="cat_img">
          <img
            src="{{ additionalImage }}"
            alt="{{ aticleCategoryName }}"
            srcset=""
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <div class="dishes_list_block">
      <ul class="dishes_list">
        @for (articleList of articles; track articleList; ) {
        <li class="dishes_card">
          <a [appSsrLink]="['article-page', articleList.id]">
            <div class="img_black">
              <img
                [src]="articleList.mainImage"
                alt="{{ articleList.articleName }}"
                loading="lazy"
              />
            </div>
          </a>
          <div class="text_block">
            <div class="recipe_name">
              <a [appSsrLink]="['article-page', articleList.id]">
                {{ articleList.articleName }}
              </a>
            </div>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</section>
