@use "./../../../styles/fonts";
@use "./../../../styles/base-styles";

.tavern-intro {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--header-height);
  line-height: 1.8; // Трохи збільшив для читабельності довгих текстів
  color: var(--clr-w);
  padding-bottom: 50px;

  h1.tavern-title {
    text-align: center;
    margin: 40px 0;
    font-size: clamp(1.8rem, 5vw, 3rem);
  }

  .paragraph {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    @media (max-width: 980px) {
      width: 92%;
    }

    h2 {
      text-align: center;
      margin-bottom: 25px;
      color: var(--clr-2); // Колір акценту для заголовків
    }

    p {
      text-align: justify;
      hyphens: auto;
      margin-bottom: 1.2rem;
    }

    .full_image {
      width: 100%;
      max-width: 1000px;
      margin: 30px auto;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 10px 30px rgba(0,0,0,0.5);

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .content {
      display: block; // Важливо для float
      width: 100%;

      .float-image {
        width: 350px;
        height: auto;
     
      
        
        &.two {
          float: left;
          margin: 0 25px 20px 0;
        }
        
        &.four {
          float: right;
          margin: 0 0 20px 25px;
        }

        @media (max-width: 768px) {
          float: none !important;
          width: 100%;
          margin: 0 0 20px 0 !important;
        }
      }
    }
  }
}