<section>
  <div class="home_body">
    <div class="hero-title">
      <h1>
        Довгих днів, Подорожній!<br />
        Ласкаво прошу до таверни «Синій Кіт»!
      </h1>
    </div>

    <h2 class="block_title">Нові рецепти</h2>
    <div class="hero_select">
      <!-- Великий блок з вибраним рецептом -->
      <div class="hero-large" *ngIf="recipes?.length">
        <img
          [src]="recipes[selectedIndex].mainImage"
          alt="{{ recipes[selectedIndex].recipeTitle }}"
        />
        <div class="overlay">
          <h3>{{ recipes[selectedIndex].recipeTitle }}</h3>
          <a
            class="button"
            [appSsrLink]="['recipe-page', recipes[selectedIndex].id]"
          >
            <div class="open">Відкрити</div>
          </a>
        </div>
      </div>

      <!-- Маленькі прев’ю -->
      <div class="hero-thumbs">
        <div
          *ngFor="let item of recipes; let i = index"
          class="thumb"
          [class.selected]="i === selectedIndex"
          (click)="selectRecipe(i)"
        >
          <img [src]="item.mainImage" alt="{{ item.recipeTitle }}" />
          <span class="eye-icon">👁️</span>
        </div>
      </div>
    </div>

    <ul class="dishes_list">
      <li
        class="dishes_block"
        *ngFor="let subItem of dishesList; let j = index"
      >
        <h2 class="block_title">{{ subItem.dishesName }}</h2>

        <div class="category_list">
          <a class="dishes_img" [appSsrLink]="['categories', subItem.id]">
            <img [src]="subItem.image" alt="{{ subItem.seoName }}" />
            <div class="overlay">
              <h3>{{ subItem.seoName }}</h3>
            </div>
          </a>

          <div class="categories">
            <div
              class="subcategories_thumbs"
              [class.under]="isUnder(subItem.id)"
            >
              <a
                *ngFor="let category of dishCategories[subItem.id]"
                [appSsrLink]="['recipes-list', category.id]"
                class="subcategory_thumb"
                title="{{ category.categoryName }}"
              >
                <img
                  [src]="category.image || 'assets/default-category.jpg'"
                  alt="{{ category.categoryName }}"
                />
                <span>{{ category.categoryName }}</span>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
