/* src/app/auth/auth.component.scss */
.auth-container {
  width: 100vw;
  height: calc(100vh - var(--header-height));



  .auth-card {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: var(--header-height);
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
    text-align: center;
    background-image: url("../../../../assets/image/login/background-log-in.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* @media (max-width: 1024px) {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
      box-shadow: none;
      background-size: cover;
    } */

    h1 {
      margin: 50px 0 8px 0;
      color: var(--clr-w);
    }

    .hint {
      color: var(--clr-w);
      font-size: 13px;
      margin-bottom: 16px;
    }



    .btn {
      width: 10vw;
      height: 21vh;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      background: none;
      cursor: pointer;
    /*   border: 0.5px solid white; */

      @media (max-width: 1024px) {
        width: 16vw;
        height: 18vh;
        top: 55%;
      }

      @media (max-width: 780px) {
        width: 20vw;

      }

      @media (max-width: 580px) {
        width: 60vw;

      }
    }

    .error {
      margin-top: 8px;
      color: #b00020;
      font-size: 13px;
    }

    .small {
      margin-top: 10px;
      color: #777;
      font-size: 13px;
    }
  }

  .spinner {
    padding: 40px;
    text-align: center;
  }
}