<!-- src/app/auth/auth.component.html -->
<div class="auth-container">
  <div class="auth-card" *ngIf="!loading; else spinner">
    <h1>Вхід на сайт</h1>

    <p class="hint">Швидко і без паролів — через Googlek</p>

   <!--  <div class="cat_log_in"></div> -->

    <button class="btn google" (click)="loginWithGoogle()">
   
    </button>



    <div class="error" *ngIf="error">{{ error }}</div>


  </div>
</div>

<ng-template #spinner>
  <div class="spinner">Завантаження...</div>
</ng-template>
