.auth-modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 1200;

    &.open {
        opacity: 1;
        pointer-events: auto;
    }

    .auth-modal-window {
        width: 90%;
        max-width: 400px;
        background: var(--clr-1);
        padding: 20px;
        border-radius: 10px;
        position: relative;
        text-align: center;

        .auth-modal-close {
            position: absolute;
            top: 10px;
            right: 10px;
            border: none;
            background: transparent;
            font-size: 18px;
            cursor: pointer;
        }

        .auth-modal-actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 16px;

            .button {
                width: 50%;
                display: inline-block;
                background-color: #ff5500;
                padding: 0.5rem 1.5rem;
                border-radius: 25px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 1px;
                box-shadow: 0 3px 6px rgba(255, 85, 0, 0.6);
                transition: var(--transition);
                margin-bottom: 20px;

                &:hover {
                    background-color: #e04e00;
                    box-shadow: 0 5px 10px rgba(224, 78, 0, 0.8);
                }

                .open {
                    user-select: none;
                }

                @media (max-width: 580px) {
                    width: 70%;
                }
            }


        }
    }
}








.no-scroll {
    overflow: hidden !important;
}