/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use "./app/styles/base-styles";
@use "./app/styles/input_style";
@use "./app/styles/fonts";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Serif", serif;
  scroll-behavior: smooth;
  line-height: 1.6;
}

ins.adsbygoogle {
  display: block;
  min-height: 280px;
  background: rgba(0, 0, 0, 0.03);
}
