section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: var(--header-height);
  font-family: Arial, sans-serif;
  line-height: 1.6;

  color: #333;
  padding: 20px 50px;

  .content_block {
    width: 70%;
    h1 {
      text-align: center;
    }
    .renewal {
      text-align: right;
    }
    h2 {
      margin: 20px 0;
    }
  }
}
