section {
  width: 100vw;
  height: auto;
  margin-top: var(--header-height);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--clr-5);
  color: #333;
  padding: 20px 50px;
}
